.w-hidden {
    display: none;
}


.form-control {
    display: inline;
    width: 90%;
}

#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.au_border {
    border: 1px solid #0b0303;
    padding: 15px 15px 10px 15px;
    border-radius: 10px;
}
.ca_border {
    border: 1px solid #d80522;
    padding: 15px 15px 10px 15px;
    border-radius: 10px;
}
.nz_border {
    border: 1px solid #0b0303;
    padding: 15px 15px 10px 15px;
    border-radius: 10px;
}
.eu_border {
    border: 1px solid #001489;
    padding: 15px 15px 10px 15px;
    border-radius: 10px;
}
